.audition_form {
    padding: 4%;
    box-sizing: border-box;
    height: 100%;
    background: rgb(43, 42, 42);
    color: white;
    margin-top: 3%;
    width: 100%;
}
.audition_form h1 {
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 4%;

}
.submission_form label
{
   
    line-height: 20px;    
}
.text_box
{
    height: 70px;
    border-radius: 5px;
    width: 27%;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}
.text_box::placeholder{
  
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.submit_btn {
      background: red;
      color: white;
      border: 1px solid black;
      padding: 22px 52px;
      border-radius: 32px;
      font-size: 16px;
      font-weight: 600;
      margin-right: 30px;
      margin-left: 1.5%;
      transition: 1s;
}
.reset_btn
{
    background: red;
    color: white;
    border: 1px solid black;
    padding: 22px 52px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 600;
}
.submit_btn:hover
{
    cursor: pointer;
    background: black;
    color: yellow;
}
.reset_btn:hover
    {
        cursor: pointer;
        background: black;
        color: yellow;
    }
.submission_form
{
    position: relative;
    left: 50%;
    transform: translateX(-190px);
}
.dropdown {
    height: 70px;
    border-radius: 5px;
    width: 27%;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    color: black;
}
.radios
{
    margin-bottom: 15px;
}
.text_box[type="text"]:focus {
    outline: none;
}
.text_box textarea:focus {
    outline: none;
}
.dropdown:focus {
    outline: none;
}
.text_box:focus {
    outline: none;
}
#address_box::placeholder {
    padding-top: 12%;
}
